* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.content-box {
  width: 67.5%;
  margin: 60px 0;
}

section {
  width: 100%;
  height: auto;
}

.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .content-box {
    width: 100%;
    margin: 60px 12px;
  }
}
header {
  display: flex;
  width: 100%;
  padding: 1.5rem 5rem;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  gap: 3rem;
}
header div {
  display: flex;
  gap: 12px;
}
header div .icon-box {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header div .rwd-toggle-show {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 1rem 12px;
  }
  header .menu-container {
    display: none;
  }
  header .rwd-toggle-show {
    display: flex !important;
  }
}
.main-card {
  display: flex;
  justify-content: center;
  color: #ffffff;
  background-color: #000000;
  align-items: center;
}
.main-card .content-box {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 514px;
  background-image: url("https://s3-alpha-sig.figma.com/img/d94f/26b4/eb1e7a227284a361d122323e9d4dc3f2?Expires=1743379200&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=JPke6DvtFXzdx-6MpsyeJbLHuOq3ZzQy-PvaLzuJUzM4QwCxsW8sw~KcRLXIs4na~Gdko52Rwe2lbTgJiRbB6WIbAjCGSBCylD4kHRdlTPq5iVGaC2-CX76u51VJ7KME0Y4SyAygRXghl4xbkr596iZqsWqueCpZxRb55wKAOu1Bf6nxUHmFhRDBcbFFY7AGRjr-D-8utL4rOmre3iVqulf09RQQrnEZCrljaqM0gpAzqlPSwLUcvKkJ41R~tDOuZb1hAsKzKEEpvRDNKqoYvw3at8VMgGAxqov5xwKEvCah7k3Bd-oUhCs8yrXGTkKcP25NNePD3H1UzQ7cdNZyoQ__");
  background-size: 85%;
  background-position: -120%;
  background-repeat: no-repeat;
}
.main-card .content-box div {
  width: 50%;
  max-width: 636px;
  z-index: 1;
}
.main-card .content-box div h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.main-card .content-box div p {
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .main-card .content-box {
    align-items: end;
    background-size: cover;
    background-position: -55px;
  }
  .main-card .content-box div {
    width: 100%;
  }
}
.new-product-card {
  background-color: #2B2B2B;
  display: flex;
  justify-content: center;
}
.new-product-card .content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.new-product-card .content-box h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
.new-product-card .content-box .product-card-container {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}
.new-product-card .content-box .product-card-container div {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}
.new-product-card .content-box .product-card-container div img {
  width: 100%;
  height: 457px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5rem;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 768px) {
  .new-product-card {
    background: linear-gradient(to right, #000000, #404040);
  }
  .new-product-card .content-box .product-card-container {
    flex-direction: column;
    gap: 3rem;
  }
  .new-product-card .content-box .product-card-container div {
    font-size: 1rem;
  }
  .new-product-card .content-box .product-card-container div img {
    height: 351px;
  }
}
.intro-card {
  display: flex;
  justify-content: center;
  color: #ffffff;
  background-color: #000000;
}
.intro-card .content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.intro-card .content-box .intro-text-container h2 {
  font-size: 2rem;
}
.intro-card .content-box .intro-text-container p {
  font-weight: 400;
}
.intro-card .content-box .intro-img-container {
  height: 706px;
  display: grid;
  grid-template-columns: 636px 416px;
  gap: 1.5rem;
}
.intro-card .content-box .intro-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro-card .content-box .intro-img-container .big-box-1 {
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 306px 376px;
  gap: 1.5rem;
}
.intro-card .content-box .intro-img-container .big-box-1 .med-box {
  display: grid;
  grid-template-columns: 306px 306px;
  grid-template-rows: 141px 141px;
  gap: 1.5rem;
}
.intro-card .content-box .intro-img-container .big-box-1 .med-box :nth-child(1) {
  grid-column: 1/2;
  grid-row: span 2;
}
.intro-card .content-box .intro-img-container .big-box-1 .med-box :nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.intro-card .content-box .intro-img-container .big-box-1 .med-box :nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.intro-card .content-box .intro-img-container .big-box-2 {
  height: 706px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.intro-card .content-box .intro-img-container .big-box-2 img {
  width: 100%;
  height: 218.84px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .intro-card {
    background: radial-gradient(109.24% 109.24% at 50% 50%, #000000 0%, #2A2A2A 22%, #000000 36.5%, #012022 70.5%, #000000 84.5%, #000000 100%);
  }
  .intro-card .content-box .intro-img-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .intro-card .content-box .intro-img-container img {
    width: 100%;
    height: 202px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .intro-card .content-box .intro-img-container .big-box-1 {
    display: flex;
    flex-direction: column;
  }
  .intro-card .content-box .intro-img-container .big-box-1 .med-box {
    width: auto;
    display: flex !important;
    flex-direction: column;
  }
  .intro-card .content-box .intro-img-container .big-box-2 {
    display: flex;
    flex-direction: column;
  }
}
footer {
  padding: 60px 0;
  color: #ffffff;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer hr {
  margin: 3rem 0;
  color: #ffffff;
  width: 100px;
}
footer .footer-icon-container {
  width: 10rem;
}
footer .footer-icon-container div {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
footer .footer-text-container {
  display: flex;
  justify-content: space-between;
}
footer .footer-text-container ul {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  footer {
    align-items: start;
    padding: 60px 0;
  }
  footer hr {
    display: none;
  }
  footer .footer-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
    gap: 40px;
  }
  footer .footer-text-container ul {
    display: flex;
    gap: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */