@use "variables" as *;

footer{
    padding: 60px 0;
    color: $theme-color-white;
    background-color: $theme-color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    hr{
        margin: 3rem 0;
        color: $theme-color-white;
        width: 100px;
    }
    .footer-icon-container{
        width: 10rem;
        div{
            margin-top: 1.5rem;
            display: flex;
            justify-content: space-between;
        }

    }

    .footer-text-container{
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            gap: 1.5rem;
        }
    }
}

@media (max-width: 768px) {
    footer{
        align-items: start;
        padding: 60px 0;
        hr{
            display: none;
        }

    .footer-text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 24px;
        gap: 40px;
        ul{
            display: flex;
            gap: 1.5rem;
        }
    }
    }
}