$font-wight-type1:500;
$font-wight-type2:400;
$theme-color-black:#000000;
$theme-color-white:#ffffff;

@mixin theme-background-linear{
    background:linear-gradient(#000000, #404040);
}
@mixin testing-border{
    border: 1px solid black;
}
